*{
    font-family: 'Exo 2', sans-serif;
}


body{
    background-image: url('../image/Loginbg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0px;  
    padding: 0px;                                       
}
.Container{
    position: absolute;
    width: 600px;
    height: 400px;
    background-color:#e8f0ff;
    border-radius:15px;
    box-shadow: 15px 15px;
    top:50px;
    left:60px;
}

.background-layer {
    position: relative;
    top: 40px;
    left: 20px;
    width: 720px;
    height: 505px;
    border:2px solid white;/* Specify your desired background color here */
    border-radius:15px;
    z-index: -1;
  }
.title2{
    height: 90px;
    border-bottom:2px solid white;
}
.title {
    text-align: center;
    margin-bottom: 20px;
    background-color:#98B5FF;
    border:3px solid black;
    border-radius:15px;
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-text {
    display: flex;
    align-items: center;
    margin: 20px;
  }
 .heart-icon {
    margin: 0 20px;
    color:#AC2F6B;

  }
  .login-label {
    margin: 0 50px;
  }
.form-group {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e8f0ff;
  margin-top: 20px;
}

.form-group > * {
    margin: 15px;
}

.name input,
.password input {
    width: 420px;
    height: 35px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}
button[type="submit"] {
    width: 435px;
    height: 60px;
    padding: 10px 20px;
    background-color: #5484FF;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
  
button[type="submit"]:hover {
    background-color: #5484FF;
}
  

