.cover{
  background-color:#4B437D;
}
.text-center{
  font-size: 40px;
  font-weight: bolder;
   margin-left: -50px;
}


.image-show .btn{
   font-size: 35px;
   margin-left:40px;
   margin-top: 30px;
   border-style:none;
   font-weight:bolder;
   color : #5484FF;

}
.image-show ul{
  list-style: none;
}
.room h1{
  font-size: 90px;
  color:white;
}

.list-btn img{
  margin-left: 35px;
  margin-top: 20px;
}
.list-btn button:hover{
  border-bottom: 2px black solid;
  background-color:none;
}
