/* post.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin:80px;
    align-items:center;
    margin-left: 100px;
    
 
  }
  .card{
    margin-left:40px;
  }
  .small-card {
    width: calc(27% - 20px); /* Adjust the width and margin as needed */
    height: 550px;
    margin: 20px;
    margin-left: 40px;
    border:2px black solid;
    border-radius: 20px;
    box-shadow:5px 5px gray;
  }
  
  .card-img {
    width: 300px; /* Set your desired width */
    height: 300px; /* Set your desired height */
    object-fit: cover; 
    /* Adjust the height as needed to maintain aspect ratio */
     /* Ensure the image fits within the container without stretching */
  }
  .card-text{
    height: 70px;
    text-align: center;
  }
  .detail-profile img{
        width:50px;
        height: 50px;
  }
  .detail-profile{
    display:flex;
    justify-content: space-between;
    margin-top:20px;

  }
  .user-info{
    display: flex;
  }
  .detail-name{
    display:flex;
    margin-left: 10px;
  }
  .detail-name .name-user{
    font-size: 20px;
    font-weight: bolder;
  }
.detail-name .card-text{
    margin-top:20px;
    margin-left:-75px;
  }
.description-text{
    text-align: center;
}
.love-btn {
    width:100px;
    height:20px;
    font-weight: bolder;
    margin-top:10px;
}
.love:hover{
    background-color:red;
    color:white;
    font-weight: bolder;
}
.like-button {
    background-color: initial; /* Initial background color */
    color: black; /* Optional: Set text color to make it more visible */
    border:none;
  }
.like-result{
    margin-left:20px;
    font-size:20px;
}
.like-button img{
    width: 30px;
    height: 30px;
}
 .description-text{
  font-size: 20px;
 
  width: 30px;
  height: 100px;
  margin-right:50px;
 }

 .description{
  margin-right:30px;
 }